// Colors

$purple-50: hsl(260, 100%, 95%);
$purple-300: hsl(264, 82%, 80%);
$purple-500: hsl(263, 55%, 52%);
$white: hsl(0, 0%, 100%);
$grey-100: hsl(214, 17%, 92%);
$grey-200: hsl(0, 0%, 81%);
$grey-300: hsl(215, 10%, 67%);
$grey-400: hsl(224, 10%, 45%);
$grey-500: hsl(217, 19%, 35%);
$dark-blue: hsl(219, 29%, 14%);
$black: hsl(0, 0%, 7%);
$off-white: hsl(300, 5%, 96%);

// Typography

@mixin barlow-semi-condensed-medium {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
}

@mixin barlow-semi-condensed-semibold {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
}

@mixin text-preset-1 {
    @include barlow-semi-condensed-semibold;
    font-size: 1.25rem;
    line-height: 120%;
    letter-spacing: 0;
}

@mixin text-preset-2 {
    @include barlow-semi-condensed-medium;
    font-size: 0.8125rem;
    line-height: 120%;
    letter-spacing: 0;
}

@mixin text-preset-3 {
    @include barlow-semi-condensed-medium;
    font-size: 0.8125rem;
    line-height: 140%;
    letter-spacing: 0;
}

@mixin text-preset-4 {
    @include barlow-semi-condensed-medium;
    font-size: 0.6875rem;
    line-height: 110%;
    letter-spacing: 0;
}

// Spacing

$spacing-1000: 5rem;
$spacing-500: 2.5rem;
$spacing-400: 2rem;
$spacing-300: 1.5rem;
$spacing-200: 1rem;
$spacing-100: 0.5rem;
$spacing-50: 0.25rem;