@use "presets";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

body {
    background-color: presets.$off-white;
}

main {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-flow: dense;
    gap: presets.$spacing-400;
    margin-inline: presets.$spacing-400;
    margin-block: presets.$spacing-1000;
}

.review-card {
    border-radius: 0.5rem;
    padding: presets.$spacing-400;
    background-color: presets.$white;
    display: flex;
    flex-direction: column;
    gap: presets.$spacing-200;
    box-shadow: 2.5rem 3.75rem 3.125rem -2.9375rem hsla(217, 19%, 35%, 24.74%);

    .reviewer {
        display: flex;
        flex-direction: row;
        gap: presets.$spacing-200;
        align-items: center;
    }

    .reviewer-photo {
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 50%;
    }

    .reviewer-details {
        display: flex;
        flex-direction: column;
        gap: presets.$spacing-50;
    }

    .reviewer-name {
        @include presets.text-preset-2;
        color: presets.$grey-500;
    }

    .reviewer-title {
        @include presets.text-preset-4;
        color: presets.$grey-400;
    }

    .review-summary {
        @include presets.text-preset-1;
        color: presets.$grey-500;
    }

    .review-details {
        @include presets.text-preset-3;
        color: presets.$grey-400;

        &::before {
            content: "“ ";
        }

        &::after {
            content: " ”";
        }
    }

    &:nth-of-type(1) {
        background-color: presets.$purple-500;

        .reviewer-photo {
            box-sizing: content-box;
            border-color: hsl(264, 82%, 70%);
            border-width: 0.125rem;
            border-style: solid;
        }

        .reviewer-name {
            color: presets.$white;
        }
    
        .reviewer-title {
            color: presets.$purple-50;
        }
    
        .review-summary {
            color: presets.$white;
        }
    
        .review-details {
            color: presets.$purple-50;
        }
    }

    &:nth-of-type(2) {
        background-color: presets.$grey-500;

        .reviewer-name {
            color: presets.$white;
        }
    
        .reviewer-title {
            color: presets.$grey-300;
        }
    
        .review-summary {
            color: presets.$white;
        }
    
        .review-details {
            color: presets.$grey-100;
        }
    }

    &:nth-of-type(4) {
        background-color: presets.$dark-blue;

        .reviewer-photo {
            box-sizing: content-box;
            border-color: presets.$purple-500;
            border-width: 0.125rem;
            border-style: solid;
        }

        .reviewer-name {
            color: presets.$white;
        }
    
        .reviewer-title {
            color: presets.$white;
        }
    
        .review-summary {
            color: presets.$grey-200;
        }
    
        .review-details {
            color: presets.$grey-100;
        }
    }
}

footer {
    @include presets.text-preset-4;
    text-align: center;
    margin-block-start: presets.$spacing-400;

    a {
        color: presets.$purple-500;
    }
}

@media (width >= 48rem) {
    main {
        grid-template-columns: 1fr 1fr;
        margin-inline: auto;
        width: 40.4375rem;
    }

    .review-card {
        &:nth-of-type(1) {
            // https://stackoverflow.com/a/47964080
            background: url("../images/bg-pattern-quotation.svg"), linear-gradient(to right, presets.$purple-500, presets.$purple-500);
            background-repeat: no-repeat;
            background-position: 90% 0%;
        }

        &:nth-of-type(1), &:nth-of-type(4), &:nth-of-type(5) {
            grid-column: auto / span 2;
        }
    }
}

@media (width >= 90rem) {
    main {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 69.625rem;
        
    }

    .review-card {
        &:nth-of-type(3) {
            grid-row: 2 / auto;
        }

        &:nth-of-type(5) {
            grid-column: 4 / span 1;
            grid-row: auto / span 2;
        }
    }
}